<form action="/search" method="post" class="form {{modifier 'form--search' modifiers}}">
    <div class="form__inner">
        {{ render '@form--field' fields.location merge=true }}
        {{ render '@form--field--select' fields.type merge=true }}

        {{ render '@form--switch' fields.sold merge=true }}

        {{ render '@button' button merge=true }}
    </div>
</form>
