<form action="/search" method="post" class="form {{modifier 'form--search' modifiers}}">
    {{ render '@form--field' fields.location merge=true }}
    {{ render '@form--field--select' fields.type merge=true }}

    {{ render '@form--checkbox--reverse' fields.sold merge=true }}

    {{ render '@button' button merge=true }}
</form>
