<form action="" method="POST" class="form {{modifier 'form--subscribe' form.modifiers}}">

    <div class="form__group">
        <label for="form__subscribe__email">{{ email.label }}</label>
        <input type="text" id="form__subscribe__email" name="email" placeholder="{{ email.placeholder }}" />
    </div>

    <div class="form__group">
        <label for="form__subscribe__region">{{ region.label }}</label>

        <div class="tags tags--gap">
            {{#each region.tags}}
                {{ render '@tag--dismiss' this merge=true }}
            {{/each}}

        </div>
    </div>

    {{ render '@button' button merge=true }}

    <a href="{{ policy.link }}">{{ policy.text }}</a>
</form>
