{{#> @grid modifiers="2/3,spaced,divider,woodland" }}
    <div class="grid__item">
        {{ render '@block--gallery--carousel' }}
        {{ render '@block--tabs' this }}
    </div>
    <div class="grid__item">
        <div class="sticky">
            <p class="lede">{{ lede }}</p>

            <button class="button button--green" data-modal-open="modal-{{ modal.uuid }}">
                <span>Visit this woodland</span>
            </button>

            {{ render '@button' pdf merge=true }}

            {{ render '@block--managed-by' }}
        </div>
    </div>
{{/ @grid }}

{{#> @block--modal modifiers="small" title=modal.title uuid=modal.uuid }}
<div class="modal__content text-center">
    <p>{{ modal.intro }}</p>

    {{ render '@button' modal.pdf merge=true }}
    {{ render '@button' modal.print merge=true }}

    <p>{{ modal.extra }}</p>
</div>
{{/ @block--modal }}
