{{#> @grid modifiers="2/3,spaced,divider,woodland" }}
    <div class="grid__item">
        {{ render '@media' }}

        <br />

        {{ render '@block--read-more' read-more merge=true }}

        <br />

        {{ render '@block--tabs' this }}

        {{ render '@block--accordion' accordion }}
    </div>
    <div class="grid__item">
        <div class="u-sticky">
            <p class="lede">{{ lede }}</p>

            {{ render '@button' visit merge=true }}
            {{ render '@button' pdf merge=true }}

            {{ render '@block--managed-by' }}
        </div>
    </div>
{{/ @grid }}
