<form action="" method="GET" class="form {{modifier 'form--cta' form.modifiers}}">
    {{#if form.drawing }}
    <div class="form--cta__image">
        {{ render '@drawing' }}
    </div>
    {{/if}}

    <div class="form--cta__container">
        <label for="form--cta__field-id" class="form__label form__title">{{ form.label }}</label>

        {{#if form.sub }}
        <label for="form--cta__field-id" class="form__subtitle">{{ form.sub }}</label>
        {{/if}}

        <div class="form__group">
            <input type="text" id="form--cta__field-id" name="field" placeholder="{{ form.placeholder }}" />
            {{ render '@button' button merge=true }}
        </div>
    </div>
</form>
