{{ render '@layout-header' header merge=true }}

<main class="page--blog">
    {{#> @section modifiers='bg-yellow,short' }}
        {{ render '@block--hero' hero }}
    {{/ @section }}

    {{#> @section }}
        {{#> @grid modifiers="2/3,spaced,divider" }}
            <div class="grid__item">
                {{ render '@components--cards' blog merge=true }}
                {{ render '@button' blog merge=true }}
            </div>

            <div class="grid__item">
                <h2 class="section__title section__title--medium">{{ titlecase topics.title }}</h2>
                {{ render '@components--list--link' topics merge=true }}

                {{ render '@block--cta-form--subscribe--blog' }}

                <h2 class="section__title section__title--medium mb-3">{{ titlecase tags.title }}</h2>
                {{ render '@block--tags' tags merge=true }}

                {{ render '@block--card--cta-link' card merge=true }}
            </div>
        {{/ @grid }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
