<div class="form__field {{modifier 'form__field--checkbox' modifiers}}">
    <input type="checkbox" class="form-checkbox" id="{{ id }}" name="{{ name }}" />
    <label for="{{ id }}" class="form__label"><span>{{ titlecase label }}</span></label>
</div>
