{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section modifiers='bg-white' }}
        {{ render '@components--woodland' }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@block--managed-by' }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@block--cta' cta merge=true }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@components--cards' woodland merge=true }}
        {{ render '@button' woodland merge=true }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
