{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section modifiers='bg-yellow,short' }}
        {{ render '@block--hero--woodland' hero }}
    {{/ @section }}

    {{#> @section modifiers='shadow,short' }}
        {{ render '@block--intro' intro }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' classes="pt-4" }}
        {{ render '@components--woodland' woodland merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--cta--listing' cta merge=true }}
    {{/ @section }}

    {{#> @section modifiers="bg-gray" }}
        {{ render '@components--cards' woodlands merge=true }}
        {{ render '@button' woodlands merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form--subscribe' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
