<div class="{{modifier 'form__field' modifiers}}">
    <label for="{{ id }}" class="form__label"><span>{{ titlecase label }}</span></label>
    <input type="{{ type }}" class="form-input" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" />
</div>
