<div class="{{modifier 'managed-by' modifiers}}">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>{{ name }}</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="{{ avatar }}" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:{{ telephone }}">{{ telephone }}</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:{{ email }}">{{ email }}</a></p>
</div>
