<div class="{{modifier 'managed-by' modifiers}}">
  <div class="managed-by__avatar">
    <img src="{{ avatar }}" alt="{{ name }}" title="" />
  </div>
  <div class="managed-by__manager">
    <h3 class="managed-by__title">Regional Managers</h3>
    <p class="managed-by__contact">{{ name }}</p>
    <p class="managed-by__contact"><a href="tel:{{ telephone }}">{{ telephone }}</a></p>
  </div>
</div>
