<div class="{{modifier 'managed-by' modifiers}}">
  <h3 class="managed-by__title">
    Managed by <strong>{{ name }}</strong>
  </h3>
  <div class="managed-by__avatar">
    <img src="{{ avatar }}" />
  </div>
  <p class="managed-by__contact"><a href="tel:{{ telephone }}">{{ telephone }}</a></p>
  <p class="managed-by__contact"><a href="mailto:{{ email }}">{{ email }}</a></p>
</div>
