<div class="{{modifier 'card' card.modifiers}} {{ card.classes }}">
  <div class="card__body">
    <h3 class="card__title">{{ titlecase card.title }}</h3>
    {{ render '@drawing' }}
    <div class="card__content">
      <a href="#">{{ card.text }}</a>
    </div>
  </div>
</div>
