<div class="{{modifier 'card' quote.modifiers}}">
  {{ render '@media' card merge=true}}
  <div class="card__body">
    <h3 class="card__title">{{ card.title }}</h3>
    <div class="card__content">
      {{ card.text }}
    </div>
  </div>
  {{#if card.banner}}
  <div class="card__banner">
    {{ card.banner }}
  </div>
  {{/if}}
</div>
