<div class="{{modifier 'card' quote.modifiers}}">
  <a href="{{ card.link }}" class="card__link">
    {{ render '@media' card merge=true}}
    <div class="card__body">
      <h3 class="card__title">{{ titlecase card.title }}</h3>
      {{#if card.location}}
      <p class="card__location">{{ card.location }}</p>
      {{/if}}
      <div class="card__content">
        {{ card.text }}
      </div>
    </div>
    {{#if card.banner}}
    <div class="card__banner">
      {{ card.banner }}
    </div>
    {{/if}}
  </a>
</div>
