{{#if title}}
  <h2 class="section__title">{{ title }}</h2>
{{/if}}

{{#> @grid modifiers=modifiers }}
  {{#each cards }}
  {{#if ../woodlands }}
    {{ render '@block--card--woodland' this merge=true }}
  {{else if ../blog }}
    {{ render '@block--card--blog' this merge=true }}
  {{ else }}
    {{ render '@block--card' this merge=true }}
  {{/if }}
  {{/each}}
{{/ @grid }}
