{{#if title}}
  <h2 class="section__title">{{ title }}</h2>
{{/if}}

{{#> @grid modifiers=modifiers id=id }}
  {{#each cards }}
  {{#if ../woodlands }}
    {{#if ../simple }}
      {{ render '@block--card--woodland-map' this merge=true }}
    {{else}}
      {{ render '@block--card--woodland' this merge=true }}
    {{/if}}
  {{else if ../blog }}
    {{#if ../simple }}
      {{ render '@block--card--blog' this merge=true }}
    {{else}}
      {{ render '@block--card--blog' this merge=true }}
    {{/if}}
  {{ else }}
    {{ render '@block--card' this merge=true }}
  {{/if }}
  {{/each}}
{{/ @grid }}
