<div class="{{modifier 'blog-post' modifiers}}">
  <h1 class="blog-post__title">{{ titlecase title }}</h1>

  <div class="blog-post__meta">
    <p class="blog-post__by">By <span>{{ name }}</span></p>
    <p class="blog-post__date"><span>{{ date }}</span></p>
    <p class="blog-post__comment-count"><a href="#discussion">{{ commentCount }} comments</a></p>
    <p class="blog-post__topic"><a href="#topic">{{ topic }}</a></p>
    <div class="social">
      {{ render '@social-button' }}
      {{ render '@social-button--twitter' }}
    </div>
  </div>

  <div class="blog-post__content typography">
    {{{markdown text }}}
  </div>
</div>
