<div class="read-more" data-show="{{ trigger.text }} " data-hide="{{ trigger.hide }}">
  <div class="read-more__content">
      <p>{{ text }}</p>
  </div>

  <div class="read-more__toggle">
    {{#if button}}
      {{ render '@button' button merge=true }}
    {{else}}
      <button class="link">{{ trigger.text }}</button>
    {{/if}}
  </div>
</div>
