{{ render '@layout-header' header merge=true }}

<main class="page--blog-single">
    {{#> @section }}
        {{#> @grid modifiers="2/3,spaced,divider" }}
            <div class="grid__item">
                {{ render '@components--blog-post' post merge=true }}

                <hr class="mt-4 mb-8" />

                {{ render '@components--blog-comments' comments merge=true }}

                <hr class="mt-8 mb-8" />

                <h2 class="section__title text-left">{{ comments.form.title }}</h2>

                {{ render '@block--blog-comment-form' }}
            </div>

            <div class="grid__item">
                {{!-- <div class="h-64 mb-8 rounded-md bg-brand-yellow"></div> --}}
                {{ render '@block--cta-form--subscribe--blog' }}

                <h2 class="section__title section__title--medium">{{ titlecase related.title }}</h2>
                {{ render '@components--list--link' related merge=true }}

                <div class="h-64 mb-8 rounded-md bg-brand-yellow"></div>

                <h2 class="section__title section__title--medium">{{ titlecase topics.title }}</h2>
                {{ render '@components--list--link' topics merge=true }}

                <h2 class="section__title section__title--medium mb-3">{{ titlecase tags.title }}</h2>
                {{ render '@block--tags' tags merge=true }}
            </div>
        {{/ @grid }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
