{{ render '@block--card' }}

<div class="">
    <p>{{ wood.text }}</p>
</div>

{{ render '@button' more merge=true }}
{{ render '@button' visit merge=true }}
{{ render '@button' pdf merge=true }}

{{ render '@block--button-group' this }}
