<blockquote class="{{modifier 'quote' quote.modifiers}}">
    <div class="quote__content">
        <p>“{{ quote.text }}”</p>
    </div>
    {{#if quote.cite}}
    <div class="quote__by">
        <cite>
            {{ quote.cite }}, {{ quote.company }}
        </cite>
    </div>
    {{/if}}
    {{#if quote.link}}
    <p class="quote__link">
        <a href="{{ quote.link.href }}">{{ quote.link.text }}</a>
    </p>
    {{/if}}
    {{#if quote.drawing}}
    <div class="quote__image">
        {{ render '@drawing' }}
    </div>
    {{/if}}
</blockquote>
