<div class="{{modifier 'tab' modifiers}}" data-tab="{{ tab.uuid }}">
  <div class="tab__navigation button-group">
    {{#each tab.nav }}
        <button class="{{modifier 'button' modifiers}}" data-tab-for={{ uuid }}>
          {{ text }}
        </button>
    {{/each}}
  </div>

  <div class="tab__items">
    {{#each tab.tabs }}
        <div class="tab__item tab__item--{{ uuid }}" data-tab-item="{{ uuid }}">
            <h3 class="tab__item__title">{{ title }}</h3>
            {{ content }}
        </div>
    {{/each}}
  </div>
</div>
