<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ _target.title }} | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="{{ path '/css/site.css' }}" />
</head>
<body>

    {{{ yield }}}

    {{#ifeq _target.baseHandle 'block--modal' }}
        <button class="button button--green button--inline" data-modal-open="modal-{{ ../_target.context.uuid }}">Open Modal Dialog</button>
    {{/ifeq }}

    <script src="{{ path '/js/manifest.js' }}"></script>
    <script src="{{ path '/js/vendor.js' }}"></script>
    <script src="{{ path '/js/site.js' }}"></script>

</body>
</html>
