<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>{{ _target.title }} | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="{{ path '/css/site.css' }}" />
</head>
<body class="h-screen">

    {{{ yield }}}

    {{#ifeq _target.baseHandle 'block--modal' }}
        <button class="button button--green button--inline" data-modal-open="modal-{{ ../_target.context.uuid }}"><span>Open Modal Dialog</span></button>
    {{/ifeq }}

    <script src="{{ path '/js/manifest.js' }}"></script>
    <script src="{{ path '/js/vendor.js' }}"></script>
    <script src="{{ path '/js/site.js' }}"></script>

</body>
</html>
