<footer class="footer">
    <div class="footer__inner">
        {{ render '@social' social merge=true }}

        <nav class="footer__navigation">
            <ul>
            {{#each navigation}}
                <li class="footer__navigation__section">
                    <a href="{{ link }}">{{ text }}</a>
                </li>
                {{#each navigation}}
                <li><a href="#">{{ this }}</a></li>
                {{/each}}
            {{/each}}
            </ul>
        </nav>

        <p class="footer__org">{{ footer.org }}</p>

        <p class="footer__copyright">Copyright © {{ footer.year }}</p>

        <p class="footer__text">{{ footer.text }}</p>

        <ul class="footer__links">
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
