{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section modifiers='bg-red' }}
        {{ render '@block--hero' hero }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow,narrow' }}
        {{ render '@block--search' search merge=true }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@components--cards' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow,narrow' }}
        {{ render '@components--buttons' }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@components--cards' blog merge=true }}
    {{/ @section }}

    {{#> @section modifiers='narrow' }}
        {{ render '@block--quote' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--gallery--square' instagram merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@button' instagram instagram=true }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
