{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section }}
        {{ render '@components--cards' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow,narrow' }}
        {{ render '@components--buttons' }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@components--cards' blog merge=true }}
    {{/ @section }}

    {{#> @section modifiers='narrow' }}
        {{ render '@block--quote' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
