{{ render '@layout-header' header merge=true }}

<main>
    {{!-- {{#> @section modifiers='bg-yellow,short' }}
        {{ render '@block--hero' hero }}
    {{/ @section }} --}}

    {{#> @section }}
        {{ render '@components--cards' woodlands merge=true }}
        {{ render '@button' woodlands merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--cta-form--subscribe--alt' }}
    {{/ @section }}

    {{#> @section }}
        <h2 class="section__title">{{ buy.title }}</h2>

        {{#> @grid modifiers="2,spaced,divider" }}
            <div class="grid__item">
                {{ render '@block--card--video' buy merge=true }}
            </div>
            <div class="grid__item">
                <h2 class="section__title section__title--medium section__title--alt">{{ topics.title }}</h2>
                {{ render '@components--list--link' topics merge=true }}
            </div>
        {{/ @grid }}

    {{/ @section }}

    <hr />

    {{#> @section }}
        {{ render '@components--cards' blog merge=true }}
    {{/ @section }}

    <hr />

    {{#> @section }}
        {{ render '@block--gallery--square' instagram merge=true }}
        {{ render '@button' instagram merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--quote--full' }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form--subscribe' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
