{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section modifiers='bg-yellow,short' }}
        {{ render '@block--hero' hero }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@components--cards' woods merge=true }}
        {{ render '@button' woods merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow,narrow' }}
        {{ render '@components--buttons' topics merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@components--cards' blog merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@block--gallery--square' instagram merge=true }}
        {{ render '@button' instagram merge=true }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--quote--full' }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form--subscribe' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
