<template id="photoswipe">
  {{{ template }}}
</template>

<div class="{{modifier 'gallery' modifiers}}">
    <ul class="gallery__list">
      {{#each gallery }}
        <li class="gallery__item" data-src="{{ gallery.media.src }}" data-width="{{ gallery.media.width }}" data-height="{{ gallery.media.height }}">
            {{ render '@media' gallery merge=true }}
            <p class="gallery__description">{{ text }}</p>
        </li>
      {{/each}}
    </ul>
    <ul class="gallery__thumbnails">
      {{#each gallery }}
        <li class="gallery__item">
            <a href="{{ gallery.media.src }}">{{ render '@media' thumbnail merge=true }}</a>
        </li>
      {{/each}}
    </ul>
</div>
