{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section modifiers='bg-yellow,short' }}
        {{ render '@block--hero' hero }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@typography-text' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--cta' }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@block--read-more' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--cta--listing' }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@block--tabs' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--cta--need-help' }}
    {{/ @section }}

    {{#> @section modifiers='bg-white' }}
        {{ render '@block--accordion' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--quote' }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form' }}
    {{/ @section }}

    {{#> @section modifiers='bg-yellow' }}
        {{ render '@block--quote--full' }}
    {{/ @section }}

    {{#> @section modifiers='bg-green' }}
        {{ render '@block--cta-form--subscribe' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
