{{ render '@layout-header' header merge=true }}

<main>
    {{ render '@components-cards' }}
    {{ render '@components-buttons' }}
    {{ render '@components-cards' blog merge=true }}
</main>

{{ render '@layout-footer' }}
